<nav id="nav">
  <% nav.items.forEach( function ( item ){ %>
  <a class="tran-opacity <%= curPageUrl === item.href ? 'active' : '' %>" href="<%= item.href %>"><%= item.label %></a>
  <% } ) %>
  <% pages.items.forEach( function ( item ){ %>
  <a class="tran-opacity <%= ( curPageUrl === '/pages/' + item.id + '.html' ) ? 'active' : '' %>" href="/pages/<%= item.id %>.html"><%= item.title %></a>
  <% } ) %>
</nav>