<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <article>
      <h1 class="article-title"><%- article.title %></h1>
      <small class="article-author">by <%= article.author %> | <%= article.date %></small>
      <p><%- article.content %></p>
    </article>

    <div id="foot-nav">
      <% if( article.prev ){ %>
        <a class="prev" href="<%= site.host.rootAddress %>articles/<%= article.prev.id %>.html"><i class="icon-angle-left"></i><%= article.prev.title %></a>
      <% } %>
      <span>.</span>
      <% if( article.next ){ %>
        <a class="next" href="<%= site.host.rootAddress %>articles/<%= article.next.id %>.html"><%= article.next.title %><i class="icon-angle-right"></i></a>
      <% } %>
    </div>

    <% if( site.duoshuo.enable && site.duoshuo.shortName ){ %>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= article.id %>" data-title="<%= article.title %>" data-url="<%= site.host.rootAddress %>articles/<%= article.id %>.html"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= site.duoshuo.shortName %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
    <% } %>

  </section>
</div>

<% include inp/footer %>
