<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <article>
      <h1 class="article-title"><%= article.title %></h1>
      <small class="article-author">by <%= article.author %> | <%= article.date %></small>
      <p><%- article.content %></p>
    </article>

    <div id="foot-nav">
      <% if( article.prev ){ %>
        <a class="prev" href="/articles/<%= article.prev.id %>.html"><i class="icon-angle-left"></i><%= article.prev.title %></a>
      <% } %>
      <span>.</span>
      <% if( article.next ){ %>
        <a class="next" href="/articles/<%= article.next.id %>.html"><%= article.next.title %><i class="icon-angle-right"></i></a>
      <% } %>
    </div>
  </section>
</div>

<% include inp/footer %>
