<% include inp/header %>

<div id="main">

  <% include inp/banner %>

  <section id="wrapper">
    <div class="article-list">
      <% 
      for( var i = ( pagination.pageNum - 1 ) * pagination.pageSize; i < pagination.pageNum * pagination.pageSize; i++ ){ 
        var item = articles.items[ i ];
        if( ! item ) break;
      %>
        <div class="article-item">
          <h1 class="article-title">
            <a href="<%= site.host.rootAddress %>articles/<%= item.id %>.html"><%- item.title %></a>
          </h1>
          <small class="article-author">by <%= item.author %> | <%= item.date %></small>
          <p class="article-subtitle">
            <%- item.subtitle %>
          </p>
        </div>
      <% } %>
    </div>

    <% include inp/pagination %>

  </section>	
</div>

<% include inp/footer %>